.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 3;
    /* background: rgb(250, 0, 0); to remove */
}

.logo {
    object-fit:scale-down;
    height: 3rem;
    width: 4rem;
    &:hover {
        transform: rotate(20deg);
    }
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    &:hover {
        padding-bottom: 0.5rem;
        border-bottom: 3px solid olive;
    }
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    &:hover {
        background: olive;
    }
}

